<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastrar Login</title>
</head>
<body>
    <div id="container">
        <form action="" id="form">  
            <h2 class="titulo">Cadastrar Login</h2>
            <div class="form-grid">
                <div>
                    <label for="nome">Nome</label>
                    <input class="input" type="text" name="nome" id="nome">
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input class="input" type="email" name="email" id="email">
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input class="input" type="password" name="senha" id="senha">
                </div>
                <div>
                    <label for="confirmar">Confirmar senha</label>
                    <input class="input" type="password" name="confirmar" id="confirmar">
                </div>
            </div>
            <div class="btn">
                <input class="btn-cadastrar" type="submit" value="Cadastrar">
            </div>
        </form>
    </div>
    
    <script src="js/cadastrar.js"></script>
</body>
</html>